.app {
  text-align: center;
  margin-top: 130px;
  border: 5px dotted #555;
  padding: 50px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ball-shape {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #666;
  border-radius: 100%;
  position: relative;
  box-shadow: 40px 0 10px 0 rgba(0, 0, 0, 0.8) inset;
}

.ball-content {
  padding-top: 120px;
}

.h3-ball {
  color: white;
}

.display-answer {
  margin: auto;
  width: fit-content;
  max-width: 300px;
  background-color: #92a863;
  border: 2px solid black;
  height: fit-content;
  max-height: 200px;
}

.do-it-again{
  margin-top: 50px;
}

.answer-value {
  letter-spacing: 0.2rem;
  padding: 5px;
}
