@import url("https://fonts.googleapis.com/css2?family=VT323&family=Work+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap");

body {
  margin: 0;
  font-family: "VT323", monospace;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    #7d1e6a,
    #eeb0b0,
    #ffe59d,
    #bde6f1,
    #fff
  );
}

p {
  font-family: "Work Sans", sans-serif;
}

input {
  width: 390px;
  height: 30px;
  border: none;
  margin-bottom: 30px;
}

button {
  color: white;
  font-family: "VT323", monospace;
  text-transform: uppercase;
  background-color: #7d1e6a;
  border: none;
  margin-left: 10px;
  height: 30px;
}

button:hover {
  color: #7d1e6a;
  background-color: white;
}

footer {
  text-align: center;
  padding-top: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

h1 {
  font-size: 60px;
}
